@import "tailwindcss";

:root{
  --background: #181818;
  --neutral: #0212c2; 
  --primary: #00bcd4;
}

body {
  background-color: var(--background);
  color: white;
  font-size: 20px;
}

header {
  display: flex;
  background-color: var(--primary);
  color: black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.add-transaction {
  background-color: var(--primary);
  color: black;
  padding: 5px 10px;
  border-radius: 7px;
}

.add-transaction:hover {
  background-color: var(--neutral);
  color: white;
}

.clear-transaction {
  background-color: var(--primary);
  color: black;
  padding: 5px 10px;
  border-radius: 7px;
}

.clear-transaction:hover {
  background-color: var(--neutral);
  color: white;
}

h2 {
  color: var(--primary);
  font-size: 22px;
}